@page "/crack"
@inject Data.GuessService GuessService

<PageTitle>Crack the PIN</PageTitle>

<div class="row py-3">
    <div class="col-sm-6 py-1">
        <button type="button" class="btn btn-primary btn-lg" @onclick="StartCrackingAsync">Start</button>
    </div>
    <div class="col-sm-6 py-1">
        <h2>Statistics</h2>

        @if (GuessService.IsGuessed)
        {
            <div class="card bg-white text-dark">
                <div class="card-body">
                    <h3 class="card-title">@GuessService.GuessedPIN</h3>
                    <p class="card-text mb-3 text-success">PIN was cracked</p>
                </div>
            </div>
        }

        <div class="card bg-white text-dark">
            <div class="card-body">
                <h3 class="card-title">@GuessService.Guesses.Count</h3>
                <p class="card-text text-muted mb-3">Unique guesses</p>
            </div>
        </div>
    </div>
</div>

@code
{
    private Timer? _timer;

    public Task StartCrackingAsync()
    {
        return Task.Run(() =>
        {
            var options = Enumerable.Range(0, 10000).Chunk(100);

            Parallel.ForEach(options, c =>
            {
                foreach (var item in c)
                {
                    var success = GuessService.GuessPin(item);
                    if (success)
                    {
                        break;
                    }
                }
            });
        });
    }

    protected override void OnInitialized()
    {
        _timer = new System.Threading.Timer(async _ =>  // async void
        {
            await InvokeAsync(StateHasChanged);
        }, null, 0, 100);
    }
}
